<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

	<xacro:arg name="gazebo" default="true"/>

  <xacro:include filename="$(find franka_gazebo)/robots/panda_arm.xacro">
		<xacro:arg name="gazebo" value="${gazebo}"/>
	</xacro:include>
  <xacro:include filename="$(find franka_gazebo)/robots/hand.xacro"/>
  
  <xacro:panda_arm connected_to='world'/>
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>
</robot>
