<launch>
	<param name="robot_description" textfile="$(find franka_gazebo)/robots/urdf/panda_arm.urdf"/>

	<node name="spawn" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda"/>

	<rosparam command="load" file="$(find franka_gazebo)/config/joint_states.yaml" ns="franka"/>
	<rosparam command="load" file="$(find franka_gazebo)/config/joint_examples.yaml" ns="franka"/>
	<rosparam command="load" file="$(find franka_gazebo)/config/default.yaml"/>


	<node name="franka_controller_spawner" pkg="controller_manager" type="spawner" args="franka/joint_state_controller franka/joint_position_my_controller"/>
</launch>